.passenger-card {
    background: #ffffff;
    border: 1px solid #c4c4c4;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    width: 960px;
    margin-bottom: 44px;
    font-family: Roboto, sans-serif;
}

.passenger-card__header {
    height: 107px;
    background-color: #F9F9F9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    position: relative;
    /*margin-bottom: -32px;*/
}

.passenger-card__header-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.collapse-toggle {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.close-button {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.passenger-card.collapsed .personal-info,
.passenger-card.collapsed .field-row,
.passenger-card.collapsed .section-divider,
.passenger-card.collapsed .validation-message,
.passenger-card.collapsed .next-passenger-button {
    display: none;
}

.passenger-card__title {
    font-weight: 400;
    font-size: 30px;
    color: #292929;
    margin: 0;

}

.personal-info {
    display: flex;
    flex-direction: column;
    gap: 32px;
    border-top: 1px dashed #928F94;
    padding: 32px 40px 0;
}

/* Общая группа поля */
.field-group {
    display: flex;
    flex-direction: column;
}

.field-group__label {
    font-size: 16px;
    color: #928f94;
    margin-bottom: 8px;
}

.field-group__input,
.field-group select {
    height: 50px;
    padding-left: 16px;
    font-size: 18px;
    color: #292929;
    border: 1px solid #928f94;
    border-radius: 5px;
    background-color: #fff;
}

/* Группы полей в строку */
.field-row {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}

.fio .field-group {
    flex: 1;
    min-width: 180px;
}

/*.birth-row .field-group {*/
/*    flex: 1;*/
/*}*/

.docs-row {
    margin: 0 40px;
}

.docs-row .field-group {
    max-width: 205px;
}

.docs-row .field-group:last-child {
    flex: 2;
    max-width: none;
}

/* Блок выбора пола */
.gender-group {
    display: flex;
    gap: 8px;
    margin-top: 8px;
}

.gender-button {
    width: 103px;
    height: 50px;
    border: 1px solid #928f94;
    border-radius: 5px;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
    background-color: #fff;
    cursor: pointer;
}

.gender-button.active {
    background-color: #ffa800;
}

/* дата рождения */
.birth-row {
    display: flex;
    justify-content: flex-start;
    gap: 35px;
    flex-wrap: wrap;
}

.birth-row .field-group {
    width: auto;
    flex: 0 0 auto;
}

.birth-row .field-group:first-child {
    flex: 0 0 45%;
}

.birth-date-group {
    flex: 0 0 45%;
    min-width: 200px;
}


.birth-date-input::-webkit-calendar-picker-indicator {
    display: none;
}

.birth-date-input {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: #292929;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    height: 50px;
    padding-left: 12px;
}

/* Блок ограничения подвижности */
.mobility-checkbox {
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
}

.mobility-label {
    font-size: 18px;
    color: #292929;
    display: flex;
    align-items: center;
}

.mobility-label input[type='checkbox'] {
    width: 28px;
    height: 28px;
    margin-right: 16px;
    border: 1px solid #928f94;
    border-radius: 5px;
    appearance: none;
    position: relative;
    background: #fff;
}

.mobility-label input[type='checkbox']:checked {
    border-color: #ffa800;
}

.mobility-label input[type='checkbox']:checked::after {
    content: '';
    position: absolute;
    left: 4px;
    top: 4px;
    width: 18px;
    height: 18px;
    background-image: url('../../assets/img/check.svg');
    background-size: contain;
    background-repeat: no-repeat;
}



/* Валидация */
.validation-message {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    gap: 12px;
    padding: 16px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    margin: 20px 0 0 0;
}

.validation-message.valid {
    background-color: #D8F5C4;
    color: #2E7D32;
}

.validation-message.invalid {
    background-color: #FFE6E6;
    color: #C62828;
}

.validation-message img {
    width: 20px;
    height: 20px;
}

.next-passenger-button {
    width: 303px;
    height: 52px;
    border: 1px solid #292929;
    background-color: transparent;
    border-radius: 5px;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    text-align: center;
    color: #292929;
    margin-left: auto;
}

.docs-row .field-group {
    width: 205px;
    max-width: 205px;
    flex: 0 0 auto;
}

.docs-row .field-group .field-group__input {
    width: 100%;
    box-sizing: border-box;
}

.add-passenger {
    width: 960px;
    height: 97px;
    margin: 32px auto;
    border: 1px solid #c4c4c4;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    cursor: pointer;
    background-color: #fff;
}

.add-passenger__text {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: #292929;
}

.add-passenger__icon {
    width: 32px;
    height: 32px;
}


.next-button-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: top;
    height: 80px;
    padding: 0 30px;
}



.section-divider {
    border: none;
    border-top: 1px dashed #928F94;
    margin: 32px 0;
}


